<h1>Retro Barcode Generator</h1>


<!-- <span class="box" *ngFor='let color of colors' [ngStyle]="{'background-color': color}">Hello
</span> -->

<span [ngStyle]="{'background-color': randColor()}">Hello</span>
<span [ngStyle]="{'background-color': randColor()}">Hello</span>
<span [ngStyle]="{'background-color': randColor()}">Hello</span>
<span [ngStyle]="{'background-color': randColor()}">Hello</span>
<span [ngStyle]="{'background-color': randColor()}">Hello</span>
<span [ngStyle]="{'background-color': randColor()}">Hello</span>
<span [ngStyle]="{'background-color': randColor()}">Hello</span>

<div class="box"></div>